<a href="https://colab.research.google.com/github/motokowang/notebooks/blob/main/Snippets_Datetimes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datetime Cheat Sheet for Pandas, Numpy, and Python Datetime

**Author:**

> Motoko Wang

**Contact:**

> https://www.linkedin.com/in/motoko-wang/

**Revision:**
> 2022.7.20

## Pandas Datetime

Considered ideal

***Format: np.timestamp64, implemented as pandas.datetime***

### Datetime by setting parametres indivudally:

In [ ]:
import pandas as pd

pandas_date = pd.to_datetime('2022-07-20', 
                             yearfirst=True,
                             infer_datetime_format=True)

print('type', type(pandas_date),
      '\nvalue', pandas_date)

type <class 'pandas._libs.tslibs.timestamps.Timestamp'>
value 2022-07-20 00:00:00

### Datetime by parsing a string:

In [ ]:
pandas_date += pd.Timedelta(value=2, unit='D')

print('type', type(pandas_date),
      '\nvalue', pandas_date)

type <class 'pandas._libs.tslibs.timestamps.Timestamp'>
value 2022-07-22 00:00:00

In [ ]:
print('year', pandas_date.year,                     # year
      '\nmonth', pandas_date.year,                  # month
      '\nday', pandas_date.day,                     # day
      '\nday of week', pandas_date.isoweekday(),    # iso day of week (1-sun thru 7-sat)
      '\nis weekday', pandas_date.weekday(),        # day of week (0-sun thru 6-sat)
      '\nmonth name', pandas_date.month_name(),     # month (name)
      '\nweek of year', pandas_date.weekofyear)     # week of year

year 2022
month 2022
day 22
day of week 5
is weekday 4
month name July
week of year 29

### Convert to other formats:

In [ ]:
print('to numpy', pandas_date.to_numpy())           # to numpy
print('to datetime64', pandas_date.to_datetime64()) # to datetime64
print('to pydatetime', pandas_date.to_pydatetime()) # to pydatetime
print('to epoch', pandas_date.timestamp())          # to epoch time / posix time

to numpy 2022-07-22T00:00:00.000000000
to datetime64 2022-07-22T00:00:00.000000000
to pydatetime 2022-07-22 00:00:00
to epoch 1658448000.0

## Numpy Datetime

***Format: datetime64***

### Datetime by parsing a string:

In [ ]:
import numpy as np

numpy_date = np.datetime64('2022-07-22')

print('type', type(numpy_date),
      '\nvalue', numpy_date)

type <class 'numpy.datetime64'>
value 2022-07-22

### Incrementing datetime:

In [ ]:
numpy_date += np.timedelta64(2, 'D')

print('type', type(numpy_date),
      '\nvalue', numpy_date)

type <class 'numpy.datetime64'>
value 2022-07-24

### What day of the week is it?

In [ ]:
np.is_busday(numpy_date)

False

### Convert to other formats:

In [ ]:
print(numpy_date.astype('uint64'))                  # to epoch time / posix time

19197

## pyDatetime Datetime

***Not popular in data science. Avoid.***

### Datetime by setting parametres indivudally:

In [ ]:
from datetime import datetime

datetime_date = datetime(year=2022, month=7, day=22)

print('type', type(datetime_date),
      '\nvalue', datetime_date)

type <class 'datetime.datetime'>
value 2022-07-22 00:00:00

### Datetime by parsing a string:

In [ ]:
datetime_date = datetime.strptime('2022/7/22', '%Y/%m/%d')

print('type', type(datetime_date),
      '\nvalue', datetime_date)

type <class 'datetime.datetime'>
value 2022-07-22 00:00:00

### Incrementing datetime:

In [ ]:
datetime_date += dt.timedelta(days=2)

print('type', type(datetime_date),
      '\nvalue', datetime_date)

type <class 'datetime.datetime'>
value 2022-07-26 00:00:00

In [ ]:
print('year', datetime_date.year,                     # year
      '\nmonth', datetime_date.year,                  # month
      '\nday', datetime_date.day,                     # day
      '\nday of week', datetime_date.isoweekday(),    # iso day of week (1-sun thru 7-sat)
      '\nis weekday', datetime_date.weekday())        # day of week (0-sun thru 6-sat)

year 2022
month 2022
day 26
day of week 2
is weekday 1